<%- include("./Nav")-%>
    <div class="container my-3">
        <h1 class=" text-center pb-2 pt-4">INDIAN SCHOOL OF LEARNING BHAGABANDH</h1>
        <h4 class=" text-center pb-2">(located in between National Highway from Putki to Phusbunglow,dhanbad,jharkhand)</h4>
        <h4 class=" text-center pb-2">Ph: +91-7277757957</h4>
        <h5 class=" text-center pb-2">E-mail: islbhagabandh@gmail.com</h5>
        <h4>ndian School Of Learning Bhagabandh is located in between National Highway from Putki to Phusbunglow. The
            school is managed by B.C.C.L. P.B. Area. School has 4.5 acres of total area which is provided by the
            B.C.C.L. authority. Ninety Percent of the total pupils are the ward(s) of B.C.C.L. workers. The school is
            English medium and performs time to time good cultural activities. The authority of B.C.C.L. is highly
            influence by the educational system provided to the students.</h4>
        <h3  class=" text-center pb-2"><strong>VISITING HOURS:</strong></h3>
        <p>Parents/Guardians are not allowed to visit the classes during the school hours, but if they want to see the
            class, they may if permitted by the principal. The Principal is always ready to discuss with them regarding
            the progress of students.</p>
        <h3 class=" text-center pb-2"><strong>COMMUNICATION:</strong></h3>
        <p>For the safe & secure up & down journeys of the pupils, the school provides bus services from all major
            routes. But students must be consult office for the same.</p>
        <h3 class=" text-center pb-2"><strong>RULES & REGULATION:</strong></h3>
        <ul>
            <li>1. Students must arrive at school 5 minutes before the school starts.</li>
            <li>2. Students not in the proper school uniform will be sent back.</li>
            <li>3. No student is allowed to go outside the school premises during the school hour.</li>
            <li>4. It is not advisable to bring valuable articles in the school.</li>
            <li>5. Mobile phone or any other electronic devices is highly objectionable to bring in the school.</li>
        </ul>
        <h3 class=" text-center pb-2"><strong>WITHDRAWAL OF PUPILS:</strong></h3>
        <p>Parents willing to withdraw their son/ward are required to inform the principal in writing at least one month
            prior to the date of withdrawal. But if a parent does not inform before hand they will have to pay one
            months fee for the withdrawal and Rs300/ will be charged for the transfer certificate.</p>
        <h3 class=" text-center pb-2"><strong>A FEW WORDS TO THE PARENTS/GUARDIANS:</strong></h3>
        <p>1. Kindly pay all the dues and arrears before every Terminal Examination.<br>
            2. The usual time for meeting the Principal is from 10:30 A.m. to 11:00 A.m.<br>
            3. Please visit the teacher during the intervals or by taking appointment.<br>
            4. Kindly avoid criticizing the teachers in the presence of your children.<br>
            5. Bring only genuine complaints to the school authorities.<br>
            6. Children are very imaginative and they cook stories to escape punishment.So,please do not believe
            everything your children said about school or the teachers.</p>
        <h3 class=" text-center pb-2"><strong>LIBRARY GENERAL RULES:</strong></h3>
        <p>1. The books will be issued strictly on production of LIBRARY CARD ONLY.The card should be taken back as soon
            as the books are returned.<br>
            2. The library card should be renewed during every new session. In case of loss or damage Rs.5/- will be
            charged against every new card.<br>
            3. Books are to be returned strictly within seven days from the date of issue thereafter, a penalty of
            Rs.1/- will be charged per book per day.<br>
            4. In case of any loss or damage the full value of the book plus 25% on the list price of the book will be
            charged as fine from the borrower.<br>
            5. Borrowers will be held responsible foe any damage done to the books while in their possession.</p>
    </div>


    <%- include("./footer")-%>