<%- include("./Nav")-%>
<div class="container my-3 w-50">
    
    <h1 class="text-center p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end"><strong>ADMISSION PROCEDURE</strong></h1>
    <p class="pb-2 pt-4">Admission will be granted as per the vacant seats available in respective classes. Children who have
        completed
        three and half years of age by 1 st April are eligible for admission to Nursery. The selection process is
        designed to assess the suitability of children to cope with the academic and general atmosphere of the school.
    </p>
    <p>Admission fee, tuition fee and other applicable fees should be paid at the time of admission. Documentary
        evidence of the date of birth must be submitted with the application form for admission at the time of
        registration. The date of birth of the child once registered cannot be changed later. Students migrating from
        another school for Std II to VIII should produce a transfer certificate. One-month advance notice in writing by
        the parent/guardian should be furnished for the withdrawal of the student. Those who have already taken
        admission and withdraws for any reason, only refundable amount shall be given as per the school norms. Students
        opting to withdraw after admission viz. in May, the fees should be paid till June. Transfer Certificate will not
        be issued under any circumstances unless the fee dues are cleared as per the school norms.</p>
    </div>
        
    <%- include("./footer")-%>