<%- include("./Nav")-%>
  <% if (states=="true" ) { %>
    <div class="position-relative"></div>
    <div
      class="toast align-items-center text-white bg-success border-0 d-block m-auto mt-5  position-absolute top-0 start-50 translate-middle "
      id="Toast_div" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body"><i class="bi bi-check-circle-fill"></i>
          issue sumbit succusfully
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" id="toast_close_btn"></button>
      </div>
    </div>
    <% } %>
      <marquee direction="left" onmouseover="this.stop()" onmouseout="this.start()" class="pt-4">
        <a href="/" class="me-3">This is a sample scrolling text that has scrolls texts to left.</a>
        <a href="/" class="me-3 text-danger">This is a sample scrolling text that has scrolls texts to left.</a>
        <a href="/" class="me-3 text-dark">This is a sample scrolling text that has scrolls texts to left.</a>
        <a href="/" class="me-3 text-warning">This is a sample scrolling text that has scrolls texts to left.</a>
      </marquee>
      <div id="carouselExampleCaptions" class="carousel container slide rounded-3 pt-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
            aria-label="Slide 3"></button>

        </div>
        <div class="carousel-inner mx-auto rounded-3 ">
          <div class="carousel-item active">
            <img src="slide1.jpg" class="d-block w-80" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="slide2.jpg" class="d-block w-80" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="slide3.jpg" class="d-block w-80" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="slide4.jpg" class="d-block w-80" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="slide5.jpeg" class="d-block w-80" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="slide6.jpg" class="d-block w-80" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev left_carsousel" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"> </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next right_carsousel" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="d-flex container my-4 justify-content-around mt-5 flex-wrap align-self-center">
        <div class="card mb-3 mx-2 Desk_card_color box_shodaw rounded-3  " style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/slide26.jpg" class="img-fluid rounded-start card_image_home box_shodaw">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong>PRINCIAL's DESK</strong></h5>
                <p class="card-text">
                  It is an honour and a privilege to be the Principal of ISL Bhagabandh, the school that stands for
                  excellence and continuously sets the highest standards.</p>
                <p class="card-text p-0 m-0"><small class="text-muted">Mr. Bharat Bhushan Prasad<br>Principal<br>Indian
                    School of
                    Learning, Bhagabandh.</small></p>
                <button type="button" class="btn btn-warning">Read More..</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 mx-2 Desk_card_color box_shodaw rounded-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="chairman.jpeg" class="img-fluid rounded-start card_image_home box_shodaw">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong>CHAIRMAN'S DESK</strong></h5>
                <p class="card-text">The teachers are seen as the builders of the nation and the emerging world.
                  Globalization is the core to the educational program.</p>
                <p class="card-text "><small class="text-muted">Dr. Sobha Sinha<br>
                    Chairman<br>
                    Indian School of Learning, Bhagabandh.</small></p>
                <button type="button" class="btn btn-warning">Read More..</button>
              </div>

            </div>
          </div>
        </div>
        <div class="card mb-3 mx-2 Desk_card_color box_shodaw rounded-3 mt-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/secretary.jpeg" class="img-fluid rounded-start card_image_home box_shodaw">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong>SECRETARY'S DESK</strong></h5>
                <p class="card-text">
                  Education is no longer-limited to village, one country. It is global phenomenon the world has become a
                  global village and we are determined to citizens of global standaed,</p>
                <p class="card-text  p-0 m-0"><small class="text-muted">Mr. K. P. Singh<br>Secratary<br>Indian
                    School of
                    Learning, Bhagabandh.</small></p>
                <button type="button" class="btn btn-warning">Read More..</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="text-center px-3 py-3">Contact Us</h1>
      <div class="w-auto d-flex border rounded-3 mx-2 my-2 ">
        <div class="container mx-3 my-4 box_shodaw rounded-3 ">
          <form action="" method="post" class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" required id="Email" name="Email">
            </div>
            <div class="col-md-6">
              <label for="inputusername4" class="form-label">User Name</label>
              <input type="username" class="form-control" required id="inputusername4" name="Username">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" required id="inputAddress" placeholder="1234 Main St"
                name="Address">
            </div>
            <div class="col-12">
              <label for="text" class="form-label">Description</label>
              <input type="text" class="form-control" required id="text" placeholder="Apartment, studio, or floor"
                name="Description">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" required id="inputCity" name="City">
            </div>
            <div class="col-md-6">
              <label for="PhoneNumber" class="form-label">Phone Number</label>
              <input type="text" class="form-control" required id="Number" pattern="[7-9]{1}[0-9]{9}"
                name="PhoneNumber">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary text-center" id="QuerySumbitBtn"><span
                  class=" spinner-border-sm" role="status" aria-hidden="true"></span>Submit</button>
            </div>
          </form>
        </div>
        <div class="container mx-3 my-4 box_shodaw rounded-3">
          <iframe class="rounded-3"
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d29219.405919993278!2d86.39427637320907!3d23.73219290092901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sisl%20school%20bhagabandh!5e0!3m2!1sen!2sin!4v1656315404481!5m2!1sen!2sin"
            width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <%- include("./footer")-%>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
        <script>
    if (document.getElementById('toast_close_btn') != null) {
      document.getElementById('toast_close_btn').addEventListener('click', () => {
        document.getElementById('Toast_div').classList.remove('d-block');
      });
      let btn_value = document.getElementById('Toast_div').classList;
      if (btn_value[5] == 'd-block') {
        const collaps_btn = setInterval(() => {
          document.getElementById('Toast_div').classList.remove('d-block');
        }, 5000);
      } else {
        clearInterval(collaps_btn);
      }
    }

    const checkInputfield = setInterval(() => {
      let Email = document.getElementById("Email").value == ''
      let inputusername4 = document.getElementById("inputusername4").value == ''
      let inputAddress = document.getElementById("inputAddress").value == ''
      let Number = document.getElementById("Number").value.length == ''
      let inputCity = document.getElementById("inputCity").value == ''
      let text = document.getElementById("text").value == ''
      if (Email && inputusername4 && inputAddress && Number && inputCity && text) {
        document.getElementById("QuerySumbitBtn").classList.add("disabled");
      } else if (document.getElementById("Number").value.length == 10) {
        document.getElementById("QuerySumbitBtn").classList.remove("disabled");
      }
    }, 500);
    document.getElementById("QuerySumbitBtn").addEventListener('click', () => {
      document.getElementById("QuerySumbitBtn").classList.add("disabled");
      let data = document.getElementById("QuerySumbitBtn").childNodes
      data[0].classList.add("spinner-border");
    })        </script>